<div class="book-text">
	<div class="fl">
		<h3>
			<div><span class="angria-text">ANGRIA</span> <span>Amelia Copes with Her Anger</span></div>
		</h3>
		<div class="mb3">Available Now</div>
	</div>
	<div class="buy-book">
	</div>
	<div class="buy-book">
		<a href="https://shop.adsterling.com" target="_blank"><div class="btn">Buy Now</div></a>
	</div>
	<div class="book-content">
		<div class="book-image">
			<img src="/img/angria_cover.jpg" class="w-100" alt="ANGRIA: Amelia Copes with Her Anger Cover" title="ANGRIA: Amelia Copes with Her Anger Cover" />
		</div>
		<p class="quote">When Amelia gets mad she doesn't feel like herself anymore. She named her anger Angria.</p>

		<p>Amelia wakes up feeling angry, and everything else that happens that day frustrates her. It seems everyone has advice to help Amelia feel better, but none of it works. At the end of the day, Amelia learns that to cope with her anger she needs to discover what makes her feel better.</p>
	</div>

    <div class="mt2 pt2 bt">
        <h3>
		    <div><span class="angria-text">ANGRIA</span> <span>Coal for Christmas (working title)</span></div>
        </h3>
		<div class="mb3">Expected Release Date: Late 2022</div>
	</div>
	<div class="book-content">
	</div>
</div>