			
<div>
	<h1>A.D. Sterling</h1>
</div>
<div class="author-image">
	<img src="/img/DSC_0265.jpg" class="w-100" alt="A.D. Stering Headshot" title="A.D. Stering Headshot" />
</div>

<div class="author-content">
	<p>For much of her adult life Angelia has been a sleepwalker. Although she has never done anything dangerous, like leave the house or drive a car, she has been known to get up in the middle of the night and change her clothing. She frequently wakes her husband with tales of mysterious things occurring, like lasers shooting around the room, spiders climbing up the walls, and even murals that move. Her experiences provided a lot of inspiration for the Somnium series.</p>

	<p>Angelia’s parents have always encouraged her to step out of her comfort zone, particularly when it comes to doing things herself. Among the many DIY projects she’s completed are replacing plumbing, demoing a bathroom, and making furniture.</p>

	<p>Angelia enjoys following in her grandmother’s footsteps by planting a vegetable garden each summer. She may not have the green thumb that her grandmother had, but with her daughter’s help she was able to recreate Thelma’s to-die-for sweet pickles using her own homegrown cucumbers.</p>
</div>