<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f4 lh-title light-gray b tc mb2">Stay Connected</p>
			<p class="f5">Get updated about new books and blog posts.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f5 b mt2 lh-title mb1 primary">A.D. Sterling</h3>
				<ul class="mb3 f6">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/#about" class="link">About</a></li>
					<li><a href="/#books" class="link">Writing</a></li>
					<li><a href="/post" class="link">Blog</a></li>
				</ul>
				<ul class="f6">
					<li><a class="primary" href="http://www.somniumseries.com" target="_blank">www.somniumseries.com</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f5 b mt2 lh-title mb1 primary">Contact</h3>
				<div><h4 class="f6">Email</h4>
					<a class="primary f6" href="mailto:info@adsterling.com">info@adsterling.com</a></div>

					<div class="mt3 f6"><h4 class="f6">Mail</h4>
					A.D. Sterling<br />
					206 Concord Street<br />
					Peterborough, NH 03458</div>
			</div>

			<div>
				<h3 class="f5 b mt2 lh-title mb2 primary">Follow</h3>
				<ul class="mhn2">
					<li class="dib ph2 raise">
						<a class="link bg-white black db relative br-100 pa2" href="https://twitter.com/adsterling" target="_blank">
							<i class="fa fa-twitter db" aria-hidden="true"></i>
						</a>
					</li>
					<li class="dib ph2 raise">
						<a class="link bg-white black db relative br-100 pa2" href="https://www.instagram.com/a.d.sterling/" target="_blank">
							<i class="fa fa-instagram db" aria-hidden="true"></i>
						</a>
					</li>
					<li class="dib ph2 raise">
						<a class="link bg-white black db relative br-100 pa2" href="https://www.pinterest.com/adsterlingauthor/" target="_blank">
							<i class="fa fa-pinterest db" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
