<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">Stay Connected</p>
			<p>Get updated about new book releases and blog posts.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">A.D. Sterling</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="https://blog.adsterling.com/#about" class="link">About</a></li>
					<li><a href="https://blog.adsterling.com/#books" class="link">Writing</a></li>
					<li><a href="/blog" class="link">Blog</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Contact</h3>
				<div><h4>Email</h4>
					<a href="mailto:info@adsterling.com">info@adsterling.com</a></div>

					<div class="mt3"><h4>Mail</h4>
					A.D. Sterling<br />
					206 Concord Street<br />
					Peterborough, NH 03458</div>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Follow</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://twitter.com/adsterling" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/a.d.sterling/" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
