
<div class="sections">
	<div class="mw7 center">
		<h1 class="f2 lh-title b mb3">{{ .title }}</h1>
		<div class="section-description">
			<p>I'm still learning about the publishing industry. I can't say if self-publishing is better or worse than traditional publishing, but it seems to come down to personal preference. If you write a quality book and can get it out there then there's a good chance readers will find you (so says the internet anyway). I'm still working on getting my debut children's fantasy novel out there - <i>SOMNIUM: Beyond the Darkness</i> (Book 1 in the <a href="https://www.somniumseries.com">Somnium Series</a>), so for me, the jury is still out.</p>

			<p>I wanted to document my journey for my own reference because when it's time to get book 2 out there I'm going to need this information again! I'm a big DIYer and self-publishing my book has been no different. So far I've done everything myself (and by everything I mean everything - from setting up my website to formatting my files for print). To give credit where credit is due, my talented artist/husband created my cover, but since he doesn't so that for a living I consider it part of my DIY journey. If you're planning to self-publish your book and want to try doing it yourself as well then you might find some of these posts helpful.</p></div>
	</div>
	<div class="cms mw6 center pb3">
		{{ range .section }}
			<div class="section">
				
				<h3>{{ .title }}</h3>
				
				<ul class="section-links">
					{{ range .links }}
						<li><a href="{{.linkurl}}">{{.linktext}}</a></li>
					{{ end }}
				</ul>
			</div>
		{{ end }}
	</div>
</div>