<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 flex-none">
		<img src="/img/logo.png" alt="A.D. Sterling Logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="https://blog.adsterling.com/#books" class="pa3 no-underline db">Writing</a></li>

		<li><a href="https://blog.adsterling.com/#about" class="pa3 no-underline db">About</a></li>

		<li><a href="https://blog.adsterling.com/#social" class="pa3 no-underline db">Follow</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
