<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 flex-none">
		<img src="/img/logo.png" alt="A.D. Sterling Logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<div class="hamburger"><img class="w-100" src="/img/hamburger.png" alt="mobile hamburger"/></div>
	<ul class="flex b grey-3 mobile-nav">
		<li><a href="https://blog.adsterling.com/#about" class="pa3 no-underline db">About</a></li>
		<li><a href="https://blog.adsterling.com/#books" class="pa3 no-underline db">Writing</a></li>
		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>
	</ul>

</nav>
