<div class="book-text">
		<div>
			<h3><div class="somnium"></div><div class="somnium-text">Beyond the Darkness (Book 1)</div></h3>
			<div class="release-date">Release Date: April 28, 2020</div>
		</div>
		<div class="book-content">
			<div class="book-image">
				<img src="/img/SOMNIUM_btd_cover.jpg" class="w-100" alt="SOMNIUM Beyond the Darkness Cover" title="SOMNIUM Beyond the Darkness Cover" />
			</div>
			<p class="quote">Maybe she hadn’t always done everything she could to help her brother in the past, but she wasn’t going to let that stop her now.</p>

			<p>Isla finds her younger brother Ethan frustrating, he finds her overbearing. When a traumatic event leaves Ethan in a coma, Isla grapples with feelings of guilt. She soon becomes concerned that her brother might be in real danger.</p>

			<p>Their lives are turned upside down when Isla learns of a family secret that her father has worked hard to keep hidden. Why don’t they ever see their grandmother? And what happened to their mother on the day she died? What secrets did she know?</p>

			<p>Ethan and Isla's destinies become entwined as they begin a journey neither could have imagined. They will have to mend their broken relationship and work together as a team in order to escape the nightmarish grip holding them beyond the darkness.</p>
		</div>
	</div>
	<div class="actions">
		<a href="https://www.amazon.com/dp/B087T5TVSS" target="_blank"><div class="btn">Buy the Book</div></a>
	</div>
	<div class="bottom-link"><a href="http://www.somniumseries.com" target="_blank">www.somniumseries.com</a></div>

	<div style="clear: both;text-align:center;padding:50px;max-width:800px;margin:0 auto;background-color: #016b60;margin-top: 40px;border-radius: 22px;color: #ffffffb5;">

		<div>Leave a review on <a href="https://www.amazon.com/review/create-review/?channel=glance-detail&amp;asin=B087T5TVSS&amp;ie=UTF8&amp;" style="color: #fff;" target="_blank">Amazon</a> or <a href="https://www.goodreads.com/review/new/53309730-beyond-the-darkness" target="_blank" style="color: #fff;">GoodReads</a> to receive some Somnium Swag. <br>Email <a href="mailto:info@adsterling.com" style="color: #fff;">info@adsterling.com</a> with your name and address after you submit a review.</div>
	</div>
</div>