<div class="book-text">
	<div class="fl">
		<h3>
			<div>
				<div class="fl">The</div> 
				<div class="fl somnium"></div> 
				<div class="fl">Series</div>
			</div>
			<div class="somnium-text">Beyond the Darkness (Book 1)</div>
		</h3>
		<div class="mb3">Available Now</div>
	</div>
	<div class="buy-book">
		<a href="https://www.somniumseries.com" target="_blank"><div class="btn">The SOMNIUM Series</div></a>
	</div>
	<div class="book-content">
		<div class="book-image">
			<img src="/img/SOMNIUM_btd_cover.jpg" class="w-100" alt="SOMNIUM Beyond the Darkness Cover" title="SOMNIUM Beyond the Darkness Cover" />
		</div>
		<p class="quote">Maybe she hadn’t always done everything she could to help her brother in the past, but she wasn’t going to let that stop her now.</p>

		<p>Isla finds her younger brother Ethan frustrating, he finds her overbearing. When a traumatic event leaves Ethan in a coma, Isla grapples with feelings of guilt. She soon becomes concerned that her brother might be in real danger.</p>

		<p>Their lives are turned upside down when Isla learns of a family secret that her father has worked hard to keep hidden. Why don’t they ever see their grandmother? And what happened to their mother on the day she died? What secrets did she know?</p>

		<p>Ethan and Isla's destinies become entwined as they begin a journey neither could have imagined. They will have to mend their broken relationship and work together as a team in order to escape the nightmarish grip holding them beyond the darkness.</p>
	</div>

	<div class="mt4">
		<h3><div class="somnium-text">Awakened Dreams (Book 2)</div></h3>
		<div class="mb3">Available Now</div>
	</div>
	<div class="book-content">
		<div class="book-image">
			<img src="/img/SOMNIUM_ad_cover.jpg" class="w-100" alt="SOMNIUM Awakened Dreams Cover" title="SOMNIUM Awakened Dreams Cover" />
		</div>
		<p class="quote">Sometimes the best way to get over our fears is to face them head-on.</p>

		<p>Ethan is terrified of the dream realm, his older sister Isla finds it exhilarating. After months of begging, Ethan finally agrees to dream. Soon after, Ethan is forbidden from returning to Somnium when he becomes injured. It’s not long until the children rationalize breaking the rules.</p>

		<p>Fulfilling a piece of their mother’s prophecy, they unintentionally bring a dream into the real world. Ethan and Isla struggle with how to fix the mistake without alarming their father. Newly discovered abilities become the key to keeping the dream hidden.</p>

		<p>As secrets are finally revealed, the children realize they aren’t the only ones with something they’ve been concealing. They must all come together if they hope to discover the darker forces at work against them.</p>
	</div>
</div>