
<h2>Works in Progress</h2>
<div class="book-text">
	<div>
		<h3><div class="somnium"></div><div class="somnium-text">The Mystic's Curse (Book 2)</div></h3>
		<div class="mb4">Expected Release Date: Early 2021</div>
	</div>
	<div class="book-content">
		<div class="book-image right hidden" >
			<h4>SOMNIUM: Book 2</h4>
		</div>
		<p>When Ethan and Isla's summer break from school begins, so does their training with their grandmother. With their father protecting their dreams they quickly learn what it means to be thetas.</p>

		<p>Despite their father's best intentions to keep them safe, Ethan is still afraid of what could happen if his dreams are breached by the Iteiri again. His worst nightmare becomes a reality when they discover that the Iteiri aren't working alone.</p>

		<p>As their mother's premonition looms in the background it becomes a fight against time to come up with a plan to change the future. But is Mim right...is there nothing that can be done to stop what is coming?</p>

		<p>Ethan's mysterious abilities may hold the key, but he'll need help escaping the mystic's curse.</p>
	</div>
</div>