<div class="book-text">
	<div class="fl">
		<h3>
			<div>
				<div class="fl">The</div> 
				<div class="fl somnium"></div> 
				<div class="fl">Series</div>
			</div>
			<div class="somnium-text">Beyond the Darkness (Book 1)</div>
		</h3>
		<div class="mb4">Available Now</div>
	</div>
	<div class="buy-book">
		<a href="https://www.somniumseries.com" target="_blank"><div class="btn">The SOMNIUM Series</div></a>
	</div>
	<div class="book-content">
		<div class="book-image">
			<img src="/img/SOMNIUM_btd_cover.jpg" class="w-100" alt="SOMNIUM Beyond the Darkness Cover" title="SOMNIUM Beyond the Darkness Cover" />
		</div>
		<p class="quote">Maybe she hadn’t always done everything she could to help her brother in the past, but she wasn’t going to let that stop her now.</p>

		<p>Isla finds her younger brother Ethan frustrating, he finds her overbearing. When a traumatic event leaves Ethan in a coma, Isla grapples with feelings of guilt. She soon becomes concerned that her brother might be in real danger.</p>

		<p>Their lives are turned upside down when Isla learns of a family secret that her father has worked hard to keep hidden. Why don’t they ever see their grandmother? And what happened to their mother on the day she died? What secrets did she know?</p>

		<p>Ethan and Isla's destinies become entwined as they begin a journey neither could have imagined. They will have to mend their broken relationship and work together as a team in order to escape the nightmarish grip holding them beyond the darkness.</p>
	</div>

	<div>
		<h3><div class="somnium-text">The Mystic's Curse (Book 2)</div></h3>
		<div class="mb4">Expected Release Date: Early 2021</div>
	</div>
	<div class="book-content">
		<div class="book-image right hidden" >
			<h4>SOMNIUM: Book 2</h4>
		</div>
		<p>When Ethan and Isla's summer break from school begins, so does their training with their grandmother. With their father protecting their dreams they quickly learn what it means to be thetas.</p>

		<p>Despite their father's best intentions to keep them safe, Ethan is still afraid of what could happen if his dreams are breached by the Iteiri again. His worst nightmare becomes a reality when they discover that the Iteiri aren't working alone.</p>

		<p>As their mother's premonition looms in the background it becomes a fight against time to come up with a plan to change the future. But is Mim right...is there nothing that can be done to stop what is coming?</p>

		<p>Ethan's mysterious abilities may hold the key, but he'll need help escaping the mystic's curse.</p>
	</div>
</div>