html {
  background-color: initial;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    background-image: url("/img/top-image4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 77px;
    z-index: 100;
}

nav::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: -1;
  background: url("/img/torn-edge.png");
  background-position: 0 -18px;
  background-repeat: repeat-x;
}

.hidden {
    display: none;
}

/* headings */
h1 {
    margin: 10px -10px 30px;
    font-size: 1.7em;
}

@media (max-width: 768px) {
    h1 {
        margin: 10px 0 30px;
    }
}

h2 {
    font-size: 1.7em;
    margin: .5em .8em .5em;
}

@media (max-width: 768px) {
    h2 {
        margin-left: 0;
    }
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: .5em;
}

@media (max-width: 768px) {
    h3 {
        margin-left: 0;
        margin-top: .1em;
    }
}

h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Content Section */

.content-section {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    padding: 20px;
    margin: 8em auto 0;
    max-width: 1150px;
    position: relative;
}

@media (max-width: 1200px) {
    .content-section {
        max-width: calc(100vw - 5rem);
    }
}

.content-section::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .95; 
  z-index: -1;
  background: url("/img/paper-background.jpg");
}

.content-section::after {
    clear: both;
    content: "";
    display: block;
}

@media (max-width: 768px) {
    .content-section {
        margin: 15px 1em;
        max-width: initial;
    }
    .content-section#social {
        padding: 0;
        background: none;
    }
}

.content-section#books {
    padding: 20px 20px 60px;
}

@media (max-width: 768px) {
    .content-section#books {
        margin-top: 110px;
    }
}

.content-section p:first-of-type {
    margin-top: 0;
}

.content-section p {
    text-align: justify;
    font-size: .9em;
    max-width: none;
}

.content-section p.quote {
    font-weight: bold;
    margin-bottom: 30px;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Somnium Logo */

.somnium {
    background-image: url("/img/somnium.png");
    background-size: cover;
    height: 34px;
    width: 156px;
    margin-left: -6px;
}

.somnium-text {
    font-family: 'Cormorant Garamond', serif;
}

/* btn */
.btn {
    background-color: #009688;
    box-shadow: none;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    width: auto;
}

.btn:hover {
    background-color: grey;
}

@media (max-width: 768px) {
    .btn {
        margin-top: 10px;
        margin-bottom: 0;
        display: inline-block;
    }
}

/* book section */
.book-text a {
    text-decoration: none;
}

.book-content {
    clear: both;
}

.book-text {
    padding: 0 50px;
}

@media (max-width: 768px) {
    .book-text {
        padding: 0 10px;
    }
}

.book-image {
    float: left;
    max-width: 200px;
    margin-right: 30px;
    margin-bottom: 20px;
    transform: rotate(-3deg);
    background-color: grey;
    height: 310px;
    width: 215px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

@media (max-width: 768px) {
    .book-image {
        float: none;
        margin: 0 0 40px;
    }
}

.book-image img {
    width: 200px;
}

.release-date {
    margin: 0 0 40px;
}

@media (max-width: 768px) {
    .release-date {
        margin-bottom: 0 0 20px;
    }
}

.book-image.right {
    float: right;
    margin-left: 30px;
    margin-right: 0;
    transform: rotate(3deg);
}

.book-image h4 {
    text-align: center;
    padding: 60px;
    line-height: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 1px 2px #333;
}

/* book actions */
.actions {
    text-align: center;
}

.actions::after {
    content: "";
    display: block;
    clear: both;
}

@media (max-width: 768px) {
    .actions {
        float: none;
        margin-right: 0;
    }
}

.actions a {
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
}

.bottom-link {
text-align: center;
    clear: both;
    padding-top: 30px;
}

.bottom-link a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.bottom-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    a.read-chapter {
        float: none;
        text-align: center;
        width: 100%;
        display: inline-block;
    }
}

a.read-chapter:hover {
    opacity: 1;
}

/* email */
.email-section {
    margin-top: 40px;
}

.email-header {
    font-weight: bold;
    text-align: center;
    color: #009688;
    margin-bottom: 15px;
}

/* form */
form {
    text-align: center;
}

.form-label {
    display: inline-block;
    min-width: 55px;
    font-size: 1.2em;
}

.form-input {
    display: inline-block;
    width: 100%;
}

.form-input {
    width: 100%;
}

input {
    width: 80%;
    max-width: 300px;
    height: 38px;
    border-radius: 5px;
    border: solid 1px lightgrey;
    padding: 5px;
}

/* author section */
#about {
    padding: 30px 70px 30px 60px;
}

@media (max-width: 768px) {
    #about {
        padding: 40px 20px;
    }
}

.author-image {
    float: left;
    max-width: 200px;
    margin-right: 30px;
    margin-bottom: 20px;
    transform: rotate(-3deg);
    margin-left: 10px;
}

@media (max-width: 768px) {
    .author-image {
        float: none;
    }
}

.author-image img {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.author-image .photo-credit {
    text-align: center;
    width: 100%;
    font-size: .8em;
    font-style: italic;
    margin-top: 5px;
}

.author-content {
    padding: 0px;
}

@media (max-width: 768px) {
    .author-content {
        padding: 0 10px;
    }
}

/* social */
.social-body {
    max-width: 900px;
    margin: 0 auto;
}

.twitter-feed {
  margin: 20px;
  float: right;
  width: calc(35% - 40px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

@media (max-width: 768px) {
    .twitter-feed {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
}

.instagram-post {
    margin: 20px;
  float: left;
  width: calc(65% - 40px);
}

@media (max-width: 768px) {
    .instagram-post {
        float: none;
        width: 100%;
        margin: 20px auto 0;
    }
}

.instagram-media {
    margin: 0 !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}