{{ define "main" }}

<div class="mw6 center content-section pa3 mt3 mb3">
    <div class="mw7 center">
        <h1 class="f2 lh-title b mb3">Self-Publishing</h1>
    	<p>I'm going to start this out by saying I don't know much about the publishing industry in general and I'm certainly no expert (I'm very much learning as I go). I can't say if self-publishing is better or worse than traditional publishing, but it seems to really come down to personal preference. If you write a quality book there's a good chance readers will find you either way.</p>
    </div>
</div>
<div class="mw7 center blog-tiles">
  <ul class="flex-ns flex-wrap mhn1-ns">
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <div class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
