{{ define "main" }}

<div class="mw6 center content-section pa3 mt3 mb3">
    <div class="mw7 center">
        <h1 class="f2 lh-title b mb3">Self-Publishing</h1>
    	<p>On my journey to self-publishing I've learned a lot. I've documented each step of the way into a <a class="primary" href="/selfpublishing/">Self-Publishing Guide</a>.</p>
    </div>
</div>
<div class="mw7 center blog-tiles">
  <ul class="flex-ns flex-wrap mhn1-ns">
      {{ range (.Paginator 20).Pages.ByPublishDate.Reverse }}
          <div class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
