{{ define "main" }}

<div class="mw8 center blog-tiles">
  <ul class="flex-ns flex-wrap mhn1-ns">
      <div class="w-50-ns ph2-ns flex">
        <a href="/selfpublishing/" class="no-underline content-section br1 mt2 mb2 db raise w-100">
          <div class="pa4">
            <h2 class="f3 b lh-title mt0 primary center">Self-Publishing Guide</h2>
            <p class="mb0">I've organized these posts into a Self-Publishing Guide. This format might be more useful if you're just beginning your own journey into self-publishing and want some step-by-step guidance.</p>
            <p class="link b dib black mb0 mt3">View Guide →</p>
          </div>
        </a>
      </div>

      <div class="w-50-ns ph2-ns flex">
        <a href="/post/self-publishing-quick-links/" class="no-underline pa2 content-section br1 mt2 mb2 db raise w-100">
          <div class="pa1">
            <h2 class="black pa1 f5 b lh-title ma0 mb3 primary center">Quick Links</h2>
            <p class="pa1 mb0 f6">A complete list of all of the external sites referenced within these blog posts</p>
            <div class="black dib br1 pl1 tag-pill">Self-Publishing</div>
          </div>
        </a>
      </div>

      {{ range (.Paginator 25).Pages.ByPublishDate.Reverse }}
        {{ if in .Params.Title "Quick Links" }}
        {{ else }}
           <div class="w-33-ns ph2-ns flex">
            {{ .Render "li"}}
          </div>
        {{ end }}
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
