{{ define "main" }}

<div class="content-section pa4 mt3 mb3">
	<h1>PRIVACY POLICY</h1>
	<p class="pl4">Effective Date: June 19, 2020</p>
	<p class="pl4">Your privacy is important to us. If you have any questions regarding this privacy policy, please contact us at <a href="mailto:info@adsterling.com">info@adsterling.com</a>.</p>

	<p class="pl4">Below is a list of what types of personal information we receive and collect when you use and visit this site. We never sell your personal information to third parties.</p>

	<h2 class="f4">Personally Identifiable Information</h2>
	<p class="pl4">The only personally identifiable information collected at adsterling.com is your email address should you choose to sign up for email communication.</p>
	<p class="pl4">You may discontinue receiving email updates at any time by unsubscribing through email communications or by emailing <a href="mailto:info@adsterling.com">info@adsterling.com</a> and requesting your email address be removed.</p>

	<h2 class="f4">Non Personal Information</h2>
	<p class="pl4">This website uses a third-party analytics vendor, Google Analytics. Please click here for more information about how data is collected and processed in connection with the Google Analytics service: www.google.com/policies/privacy/partners/. We use analytics data for a variety of purposes such as to improve the design and content of the website and to help learn things like what pages are most attractive to visitors.</p>

	<h2 class="f4">Cookies</h2>
	<p class="pl4">This site does not set any cookies.</p>

	<h2 class="f4">Affiliates</h2>
	<p class="pl4">adsterling.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com.</p>

	<h1>DISCLOSURE POLICY</h1>
	<p class="pl4">This website is written and edited by A.D. Sterling.</p>

	<p class="pl4">Even though we may receive compensation for a post, the views and opinions expressed are purely those of A.D. Sterling. Any product claim, statistic, quote or other representation about a product or service should be verified with the manufacturer, provider or party in question.</p>
</div>

{{ end }}
